@import url("https://fonts.googleapis.com/css?family=Muli|Lato|Source+Sans+Pro|Open+Sans");

$nav-color: #f0f0f0;
$contact-color: #f0f0f0;
$background-color: #F9FFF2;
$background-color2: #FCFCFC;
$blue-color: #0078A0;
$footer-color: #2978A0;
$blog-title-color: #a8a8a8;

* {
  margin: 0;
  padding: 0;
  border: 0; }



header.navigation {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
  
.navbar-default{
    margin: 0;
    z-index: 5;
    border: none;
    border-radius: 0;
    background-color: $nav-color;
    transition: all 0.5s ease-in;
    // margin-bottom: 50px;
    #navbar-collapse{
      transition: all 0.5s ease-in;
    }
    .navbar-toggle {
      border: none;
      
      margin-right: 10px;
      padding: 9px 0;
     
      transition: all 0.4s ease-out;
      &:focus{
        background: none;
      }
      &:hover{
        background: none;
      }
    }
    .navbar-brand {
        padding: 15px 0;
        color: #000000;
        letter-spacing: 1.1px;
        font-weight: 1000;
        font: 1.05em 'Lato', sans-serif;
        margin-left: 0;
        transition: all 0.4s ease-out;
        &:hover{
          opacity: 0.5;
        }
    }
    .navbar-nav{
        margin-right: 0;
    }
    .navbar-nav > li > a {
    color: #000000;
    font-weight: 1000;
    font: 1em 'Lato', sans-serif;
    transition: all 0.4s ease-out;
    &:hover{
      transition: all 0.4s ease;
      cursor: pointer;
      opacity: 0.5; 
    }
    }
}
// .displayed{
//     background-color: $nav-color;
//     transition: all 0.5s ease-in;
//     .navbar-brand{
//         opacity: 1;
//         transition: all 0.5s ease-in;
//     }
//     .navbar-nav > li > a {
//         opacity: 1;
//         visibility: visible;
//         transition: all 0.5s ease-in;
//     }
//     .navbar-toggle{
//       opacity: 1;
//       visibility: visible;
//       transition: all 0.5s ease-in;
//     }
//     #navbar-collapse{
//       visibility: visible;
//       opacity: 1;
//       transition: all 0.5s ease-in;
//     }
// }
}

/* ---------------Blog content------------ */
  // .padding{
  //   padding-top: 30px;
  // }
  // .blog-img {
  //   height: 55vh;
  //   background:
  //     linear-gradient(
  //       rgba(0, 0, 0, 0.1), 
  //       rgba(0, 0, 0, 0.1)
  //     ),url(../assets/blog-pic.jpg);
  //   background-size: cover; 
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
#blog-content{
    padding-top: 50px;
    background-color: $background-color2;
    margin-bottom: 3%;
    h1{
      font: 4em 'Muli', sans-serif;
      margin: 5% -15px; 
      margin-bottom: 7.5%;
      text-align: left;
      color: $blue-color;
    }
    .blog-post{
      margin-top: 3%;
      margin-bottom: 7%;
      padding-bottom: 2%;
      border-bottom: 2px solid $blue-color;
    .title-date{
      padding: 0;
        // border-right: 1px solid black;
      a{
        color: $blog-title-color;
        font: 2.3em 'Open Sans', sans-serif;
        letter-spacing: 0.5px;
        font-weight: 900;
        margin: 0;
        text-decoration: none;
        &:hover{
          cursor: pointer;
          color: $blue-color;
        }
      }
      h3{
        color: $blog-title-color;
        font: 1.3em 'Open Sans', sans-serif;
        margin: 3px 0;
      }
    }
    .description{
      font: 1.25em 'Lato', sans-serif;
      padding: 0;
      p{
      padding: 1.5% 0;
      }
    }
    .read-more{
      padding: 0;
      margin-top: 3px;  
    }
    }
}


/* ---------------Footer ------------ */
#footer {
  background-color: black;
  width: 100%; 
  .resume-copyright{
    text-align: center;
    margin-top: 3px;
  a {
    color: white;
    font-size: 1.35em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    letter-spacing: 1.3px;
    text-decoration: none;
     transition: all 0.5s ease;
    &:hover{
      color: $footer-color;
      transition: all 0.5s ease;
    }
  }
  p{
    font-size: 1.25em;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
  }
  }}
  #footer #social-media ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    margin-top: 10px; }
    #footer #social-media ul li {
      display: inline-block;
      font-size: 3.2em;
      font-weight: 700; 
      padding: 0 15px; }
     #footer #social-media ul li a img {
        color: #E4E3EF;
        height: 50px;
        width: 50px;
         transition: all 0.5s ease; }
      #footer #social-media ul li a img:hover {
        fill: $footer-color;
        opacity: 0.7;
        fill: red;
        transition: all 0.5s ease;
      }
  #footer #contact-form {
    color: #E4E3EF;
    text-align: center;
    display: inline;
    font-family: 'Montserrat', sans-serif; }
    #footer #contact-form h4 {
      font-size: 200%;
      font-weight: 600;
      margin-top: 0;
      text-align: center; }
    #footer #contact-form p {
      font-size: 160%;
      font-weight: 600;   
      letter-spacing: 1.3px; } 

/* -------------- Media Queries ---------------*/

 
@media screen and (max-width: 576px) {
  #intro h1 {
    font-size: 700%; }
  #intro h2 {
    font-size: 200%; }
  #intro #directory {
    font-size: 225%; }
  header.navigation .navbar-default .navbar-brand{
    font-size: 0.7em;
    margin: 0;
    letter-spacing: 1.1px;
    line-height: 20px;
  } 
  body > header > nav > div > div.navbar-header > button {
    margin-right: 5px !important;
  } 
  #footer .resume-copyright p{
    font-size: 1.02em;
  }
  #intro .intro-info h1{
    line-height: 80px;
    font-size: 4.5em;
  }
  #intro .intro-info h2{
    font-size: 1.0em;
  }
}

@media screen and (max-width: 768px){
    #project-picture > div {
    text-align: center;
  }
}